# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Data
*.csv
*.xlsx
*.json
!config.json

# Logs
*.log

documents
results